
.total-container {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .total-container p {
    font-size: 20px;
    font-weight: 600;
    margin: 10px 0;
  }
  
  .total-income {
    background-color: #f4f4f4;
    color: #105714; 
  }
  
  .total-expense {
    background-color: #f4f4f4;
    color: #7c201a; 
  }
  
  .total-difference {
    background-color: #f4f4f4;
    color: #154b77; 
    font-weight: 700;
  }
  